.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    margin-right: 20px;
}

.login-button > .login {
    margin-left: 5px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.nav-section img {
    width: 100px;
}

.header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-area {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.menu-List {
    display: flex;
    list-style: none;
}

.menu-List > li {
    padding: 10px;
}

.search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-right: 10px;
}

.input {
    padding-left: 10px;
    border: none;
    color: rgba(0, 0, 0, .4);
}