.nav-header {

}

.login-menu {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

.login-page-button {
    background-color: #fff;
    color: #000;
}

.login-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.login-button * {
    margin-right: 10px;
    margin-top: 20px;
}

.login-button > .login {
    margin-left: 5px;
}

.nav-section {
    display: flex;
    justify-content: center;
}

.nav-section img {
    width: 100px;
}

.nav-menu-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.menu-area {
    display: flex;
    justify-content: center;
    max-width: 100%;
    width: 90%;
    margin: 0 auto;
}

.menu-List {
    display: flex;
    list-style: none;
}

.menu-List > li {
    padding: 10px;
}

.search-box {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid #000;
    padding: 5px;
    margin-right: 10px;
    position: absolute;
    right: 20px;
}

.input {
    margin-left: 5px;
    border: none;
    color: rgba(0, 0, 0, .4);
}

.input:focus {
    outline: none;
}